language: c
sudo: false
services:
  - docker
install: wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-docker.sh
script: bash -ex ./.travis-docker.sh
env:
  global:
  - PACKAGE="mirage-vnetif"
  - EXTRA_REMOTES="https://github.com/mirage/mirage-dev.git"
  matrix:
  - DISTRO="debian-testing" OCAML_VERSION="4.04"
  - DISTRO="debian-unstable" OCAML_VERSION="4.05"
  - DISTRO="ubuntu-16.04" OCAML_VERSION="4.06"
  - DISTRO="alpine" OCAML_VERSION="4.07"
